/*VARIABLES*/
/* GENERAL */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,600;1,100&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,600;1,500&family=Work+Sans:ital,wght@0,100;0,600;1,100&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 05px;
  color: #3756a3;
  text-align: center;
  margin-top: 30px; }

h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 05px;
  color: #3756a3;
  text-align: center; }

.error404 {
  background-color: #c7cedb;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 0;
  padding: 0; }
  .error404 h1 {
    font-size: 70px;
    font-weight: bolder;
    margin-top: 0; }
  .error404 img {
    width: 450px; }
  .error404 .btn {
    width: 300px;
    margin: 100px; }

/* HEADER */
header {
  background-color: white;
  color: #2e3532;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0; }
  header img:hover {
    transform: rotate(360deg);
    transition: transform 1s;
    cursor: pointer; }

nav {
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  nav ul {
    list-style: none;
    font-size: 0; }
    nav ul li {
      list-style: none;
      display: inline-block;
      text-decoration: none;
      color: #3756a3;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      margin: 0 10px; }
      nav ul li a {
        text-decoration: none;
        color: #3756a3;
        text-transform: uppercase;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s; }
      nav ul li:hover ul {
        display: block; }
    nav ul ul {
      position: absolute;
      display: none;
      padding: 20px;
      line-height: 30px;
      background-color: #c7cedb;
      opacity: 0.8; }
      nav ul ul li {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #c7cedb; }

a:hover {
  background-size: 100% 2px; }

a:focus {
  background-size: 100% 2px; }

/* MAIN INDEX */
.mainIndex {
  background-color: white; }
  .mainIndex .carousel {
    padding: 0; }

/* MAIN CIRUGIA PLASTICA */
#serviciosBody {
  background-color: #EFF4F8;
  width: 100%; }

.servBg {
  background-image: url(../img/bannerCirugiaPlasticaResponsive.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.serv4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  justify-content: space-between;
  background-color: white; }
  .serv4 h3 {
    padding-bottom: 10px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500; }

.gridBoxServ {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo';
  padding: 50px 20px;
  background-color: #EFF4F8; }
  .gridBoxServ img {
    grid-area: img;
    width: 95%;
    justify-self: center; }
  .gridBoxServ h3 {
    grid-area: titulo;
    padding-top: 25px;
    text-align: center; }
  .gridBoxServ p {
    grid-area: parrafo;
    padding: 10px 10px 0px;
    text-align: justify;
    font-weight: 300; }

.gridBoxServ2 {
  display: grid;
  grid-template-areas: 'img' 'titulo' 'parrafo';
  padding: 50px 20px;
  background-color: white; }
  .gridBoxServ2 img {
    grid-area: img;
    width: 95%;
    justify-self: center; }
  .gridBoxServ2 h1 {
    grid-area: titulo;
    text-align: center; }
  .gridBoxServ2 h3 {
    grid-area: titulo;
    padding-top: 25px;
    text-align: center; }
  .gridBoxServ2 p {
    grid-area: parrafo;
    padding: 10px 10px 0px;
    text-align: justify;
    font-weight: 300; }

.hvr-icon-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .hvr-icon-sink .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-icon-sink:hover .hvr-icon {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  .hvr-icon-sink:focus .hvr-icon {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  .hvr-icon-sink:active .hvr-icon {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }

.footerImg {
  width: 8vw; }

img {
  vertical-align: middle; }

svg {
  vertical-align: middle;
  width: 8vw; }

/* MAIN MEDICINA ESTETICA */
.medBg {
  background-image: url(../img/banner1.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.btn-primary {
  color: #fff;
  background-color: #c7cedb;
  border-color: #c7cedb; }
  .btn-primary:hover {
    background-color: #c7cedb;
    border-color: #c7cedb;
    box-shadow: none;
    outline: none; }
  .btn-primary:focus {
    background-color: #c7cedb;
    border-color: #c7cedb;
    box-shadow: none;
    outline: none; }

section {
  padding: 60px 0; }
  section .section-title {
    text-align: center;
    color: #3756a3;
    margin-bottom: 50px;
    text-transform: uppercase; }

.team .card {
  border: none;
  background: #ffffff; }

.image-flip:hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem; }

.image-flip:hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem; }

.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative; }

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d; }
  .frontside .card {
    min-height: 312px; }
    .frontside .card .card-title {
      color: #3756a3; }
    .frontside .card .card-body img {
      width: 120px;
      height: 120px;
      border-radius: 50%; }

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
  -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
  box-shadow: 5px 7px 9px -4px #9e9e9e;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d; }
  .backside .card {
    min-height: 312px; }
    .backside .card a {
      font-size: 18px;
      color: #3756a3; }
    .backside .card .card-title {
      color: #3756a3; }

.mainMedicinaEstetica {
  background-color: #EFF4F8; }

/* MAIN GALERIA */
.mainGaleria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, auto);
  grid-row-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 30px; }
  .mainGaleria div img {
    width: 300px; }

.galeriaBg {
  background-image: url(../img/bannerEstetica2.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

/* MAIN CONTACTO */
.maps {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.contBg {
  background-image: url(../img/bannerContacto.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.contPadding {
  padding-top: 15px; }

/* FOOTER */
.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 20px;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: black;
  background-color: #c7cedb;
  width: 100%; }
  .footer__container ul {
    padding-left: 0; }

.logoFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }
  .logoFooter img {
    width: 150px; }

.footer__container__contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }
  .footer__container__contacto h4 {
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 20px;
    font-family: 'Bitter', serif; }
  .footer__container__contacto ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: left;
    justify-items: center;
    align-items: center;
    font-family: Verdana Tahoma, sans-serif;
    font-size: 18px;
    line-height: 40px; }
    .footer__container__contacto ul li img {
      margin: 10px; }

.footer__container__secciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }
  .footer__container__secciones ul li {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    font-family: Verdana Tahoma, sans-serif;
    font-size: 18px;
    line-height: 40px; }
    .footer__container__secciones ul li a {
      text-decoration: none;
      color: #3756a3; }
  .footer__container__secciones h4 {
    font-size: 20px;
    text-align: center;
    color: black;
    font-family: 'Bitter', serif;
    padding: 20px; }

.footer__container__redes {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #c7cedb; }
  .footer__container__redes ul {
    padding-left: 0;
    display: flex;
    flex-direction: row; }
    .footer__container__redes ul li {
      list-style: none;
      color: none;
      padding: 10px;
      text-align: center;
      line-height: 40px; }

.copyright {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  background-color: #c7cedb;
  padding-left: 0; }

@media only screen and (min-width: 460px) {
  .gridBoxServ {
    padding: 60px 30px 40px; }
    .gridBoxServ img {
      width: 90%; }
    .gridBoxServ h3 {
      padding-top: 30px; }
    .gridBoxServ p {
      padding-top: 15px;
      font-size: 1.2rem; }
  .gridBoxServ2 {
    padding: 60px 30px 40px; }
    .gridBoxServ2 img {
      width: 90%; }
    .gridBoxServ2 h3 {
      padding-top: 30px; }
    .gridBoxServ2 p {
      padding-top: 15px;
      font-size: 1.2rem; } }

@media only screen and (min-width: 600px) {
  .servBg {
    background-image: url(../img/wallpaperCirugiaPlastica.jpg); }
  .galeriaBg {
    background-image: url(../img/bannerEstetica2.jpg); }
  .medBg {
    background-image: url(../img/bannerMedicinaEstetica4.jpg); }
  .gridBoxServ {
    padding: 4rem 5rem; }
    .gridBoxServ img {
      width: 90%;
      align-self: center; }
    .gridBoxServ p {
      font-size: 1.2rem; }
  .gridBoxServ2 {
    padding: 4rem 5rem; }
    .gridBoxServ2 img {
      width: 90%;
      align-self: center; }
    .gridBoxServ2 p {
      font-size: 1.2rem; }
  .contBg {
    background-image: url(../img/wallpaperCirugiaPlastica.jpg); } }

@media only screen and (min-width: 760px) {
  .mainGaleria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px; }
    .mainGaleria div img {
      width: 350px; }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 20px; }
  .logoFooter img {
    width: 250px; }
  .servBg h1, .galeriaBg h1, .contBg h1 {
    font-size: 3rem; }
  .servBg h2, .galeriaBg h2, .contBg h2 {
    font-size: 1.4rem; }
  .gridBoxServ {
    grid-template-areas: 'titulo titulo img img' 'parrafo parrafo img img';
    padding: 5rem 4rem; }
    .gridBoxServ h3 {
      padding-top: 0px;
      padding-right: 10px;
      font-size: 1.3rem;
      text-align: start; }
    .gridBoxServ p {
      padding: 10px 10px 0px 0px;
      font-size: 0.9rem;
      text-align: start; }
  .gridBoxServ2 {
    grid-template-areas: 'img img titulo titulo' 'img img parrafo parrafo';
    padding: 5rem 4rem; }
    .gridBoxServ2 h3 {
      padding-top: 0px;
      padding-left: 10px;
      font-size: 1.3rem;
      text-align: start; }
    .gridBoxServ2 p {
      padding: 10px 0px 0px 10px;
      font-size: 0.9rem;
      text-align: start; }
  .serv4 {
    padding: 5rem 2rem; }
    .serv4 h3 {
      padding-bottom: 25px;
      width: unset; } }

@media only screen and (min-width: 992px) {
  .contBg {
    background-image: url(../img/wallpaperCirugiaPlastica.jpg); }
  .contPadding {
    padding-top: 0px; } }

@media only screen and (min-width: 1000px) {
  .mainGaleria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto); }
    .mainGaleria div img {
      width: 350px; }
  .galeriaBg {
    background-image: url(../img/bannerEstetica.jpg); }
  .medBg {
    background-image: url(../img/bannermedicinaestetica-1030x360.jpg); }
  .servBg {
    background-image: url(../img/bannerCirugiaPlastica.jpg); }
  .gridBoxServ {
    padding: 6rem 5rem; }
    .gridBoxServ h3 {
      font-size: 1.5rem;
      align-self: center;
      padding-top: 10px; }
    .gridBoxServ p {
      font-size: 1.1rem;
      padding: 5px 10px 0px 0px;
      align-self: center; }
  .gridBoxServ2 {
    padding: 6rem 5rem; }
    .gridBoxServ2 h3 {
      font-size: 1.5rem;
      align-self: center;
      padding-top: 10px; }
    .gridBoxServ2 p {
      font-size: 1.1rem;
      padding: 5px 0px 0px 10px;
      align-self: center; }
  .serv4 {
    padding: 5rem 2rem; }
    .serv4 h3 {
      padding-bottom: 25px;
      width: unset; } }

@media only screen and (min-width: 1200px) {
  .mainGaleria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); }
    .mainGaleria div img {
      width: 350px; }
  .gridBoxServ {
    padding: 5rem 6rem; }
    .gridBoxServ h3 {
      font-size: 1.6rem; }
    .gridBoxServ p {
      font-size: 1.2rem; }
  .gridBoxServ2 {
    padding: 5rem 6rem; }
    .gridBoxServ2 h3 {
      font-size: 1.6rem; }
    .gridBoxServ2 p {
      font-size: 1.2rem; }
  .serv4 {
    padding: 5rem 2rem; }
    .serv4 h3 {
      font-size: 1.8rem; } }

@media only screen and (min-width: 1440px) {
  .galeriaBg {
    background-image: url(../img/bannermedicinaestetica-1030x360.jpg); }
  .mainGaleria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); }
    .mainGaleria div img {
      width: 400px; }
  .gridBoxServ {
    padding: 7rem 8rem; }
    .gridBoxServ img {
      width: 80%; }
    .gridBoxServ h3 {
      font-size: 1.9rem;
      letter-spacing: 1px;
      text-align: start;
      margin-left: 3rem; }
    .gridBoxServ p {
      font-size: 1.3rem;
      letter-spacing: 1.2px;
      margin-left: 3rem; }
  .gridBoxServ2 {
    padding: 7rem 8rem; }
    .gridBoxServ2 img {
      width: 80%; }
    .gridBoxServ2 h3 {
      font-size: 1.9rem;
      letter-spacing: 1px;
      text-align: start;
      margin-right: 3rem; }
    .gridBoxServ2 p {
      font-size: 1.3rem;
      letter-spacing: 1.2px;
      margin-right: 3rem; } }

.periscopio-icon {
  height: 30px; }

.arroba-icon {
  height: 30px; }

.instagram-icon {
  height: 30px; }

.facebook-icon {
  height: 30px; }

.whatsapp-icon {
  height: 30px; }
